<div id="navbar">
   <ul>
        <li>
            <a href="{% url 'main:home' %}">首頁</a>
            
       </li>
       <li>
            <a href="#">投注</a>
            <ul>
                <li><a href="{% url 'betting:prediction' %}">投注預測</a></li>
                <li><a href="{% url 'betting:statistics' %}">數據分析</a></li>
            </ul>
       </li>
       <li>
            <a href="#">球隊</a>
            <ul>
                <li><a href="{% url 'team:introduction' %}">介紹</a></li>
                <li><a href="{% url 'team:schedule' %}">賽程</a></li>
                <li><a href="{% url 'team:record' %}">球隊戰績</a></li>
            </ul>
       </li>
       <li>
            <a href="{% url 'player:players' %}">球員</a>
       </li>
       <li>
            <a href="{% url 'forum:forum' %}">討論區</a>
       </li>
   </ul>
</div>