{% extends "Base.html" %}
{% load staticfiles %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12" style='background-color: skyblue'>
        <h3># 1 : 中華隊2017經典賽先發預測</h3>
    </div>
    <div class="col-md-3" style='background-color: white;'>
        <img src="../../OneDrive/圖片/兒子的戰爭/13389055_1040977259313858_354807705_o.jpg" width="60" height="60" alt="" />
        <p>發文者:Lavender 時間:2016.12.2</p>
        <p>階級 : XXXXX</p>
        <p>勝率 : XX %</p>
    
    
    </div>
    <div class="col-md-9" style='background-color: silver ;'>
        <div class="col-md-9">
            <p>ABC</p>
            <p>ABC</p>
            <p>ABC</p>
            <p>ABC</p>
            <p>ABC</p>
        </div>
        
    </div>

    <div class="col-md-3" style='background-color: white;'>
        <hr />
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
    </div>

    <div class="col-md-9" style='background-color: silver;'>
        <hr />
        <a href="#">較早的留言</a>
        <p><label style="color:blue">Maple</label> : 我認為兄弟象會得冠軍</p>
        <p><label style="color:blue">Greg</label> : 騙人~</p>
<hr />
        <form>
            留言 :
            <input type='text' />
        </form>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12" style='background-color: skyblue'>
        <h3># 2 : RE-中華隊2017經典賽先發預測</h3>
    </div>
    <div class="col-md-3" style='background-color: white;'>
        <img src="../../OneDrive/圖片/兒子的戰爭/13389055_1040977259313858_354807705_o.jpg" width="60" height="60" alt="" />
        <p>發文者:Maple 時間:2016.12.2</p>
        <p>階級 : XXXXX</p>
        <p>勝率 : XX %</p>
    
    
    </div>
    <div class="col-md-9" style='background-color: silver ;'>
        <div class="col-md-9">
            <p>搶頭香~</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        
    </div>

    <div class="col-md-3" style='background-color: white;'>
        <hr />
       <p>&nbsp;</p>
    </div>

    <div class="col-md-9" style='background-color: silver;'>
        <hr />
        <form>
            留言 :
            <input type='text' />
        </form>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12" style='background-color: skyblue'>
        <h3># 3 : RE-中華隊2017經典賽先發預測</h3>
    </div>
    <div class="col-md-3" style='background-color: white;'>
        <img src="../../OneDrive/圖片/兒子的戰爭/13389055_1040977259313858_354807705_o.jpg" width="60" height="60" alt="" />
        <p>發文者:GGG 時間:2016.12.2</p>
        <p>階級 : XXXXX</p>
        <p>勝率 : XX %</p>
    
    
    </div>
    <div class="col-md-9" style='background-color: silver ;'>
        <div class="col-md-9">
            <p>分析的很棒，感謝分享^^</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        
    </div>

    <div class="col-md-3" style='background-color: white;'>
        <hr />
       <p>&nbsp;</p>
    </div>

    <div class="col-md-9" style='background-color: silver;'>
        <hr />
        <form>
            留言 :
            <input type='text' />
        </form>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12" style='background-color: skyblue'>
        <h3># 4 : RE-#2</h3>
    </div>
    <div class="col-md-3" style='background-color: white;'>
        <img src="../../OneDrive/圖片/兒子的戰爭/13389055_1040977259313858_354807705_o.jpg" width="60" height="60" alt="" />
        <p>發文者:GGG 時間:2016.12.2</p>
        <p>階級 : XXXXX</p>
        <p>勝率 : XX %</p>
        
    </div>

    <div class="col-md-9" style='background-color: silver ;'>
        <div class="col-md-9">
            <p><a><label style='color:green;'> | </label>&nbsp;RE : # 2</a></p>
            <p>是 Maple 大大耶~~~</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        
    </div>

    <div class="col-md-3" style='background-color: white;'>
        <hr />
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       
    </div>

    <div class="col-md-9" style='background-color: silver;'>
        <hr />
        <p><label style="color:blue">Maple</label> : 安安</p>
        <hr />
        <form>
            留言 :
            <input type='text' />
        </form>
    </div>

</div>
<br />

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<hr />
<div>
    <h1>發表回應</h1>
    <form class="form-horizontal">
        標題 :
        <input type='text' />
        <br />
        內文 :
        <div class="form-group">
            <textarea></textarea>
        </div>
        <br />
        <input type="submit">
    </form>

</div>
<div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
{% endblock %}